body {
	background-color: #f3f9f6;
	font-family: Calibri;
	font-size: 18px;
	font-kerning: normal;
	width: 500px;
}

div > * {
  padding: 20px;
  font-size: 20px;
  border: 3px solid rgba(0,0,0,0.5);
}

h1, p {
	color: black;
	line-height: 1.4;
}
div {
	color: #3b5c78;
	font-size: 14px;
}

footer > * {
  padding: 20px;
  font-size: 16px;
  border: 3px solid rgba(0,0,0,0.5);
  border-color: #3b5c78;
}