body {
	background-color: #f3f9f6;
	font-family: Calibri;
	font-size: 18px;
	font-kerning: normal;
	width: 650px;
}

h1 {
	color: black;
	line-height: 0.9;
}

p {
	color: black;
	line-height: 1.4;
}

div {
	color: #3b5c78;
	font-size: 24px;
	padding: 30px;
	border: 1px solid rgba(0,0,0,0.5);
	border-color: #3b5c78;
  	width: 650px;
}

footer {
  padding: 30px;
  font-size: 16px;
  border: 1px solid rgba(0,0,0,0.5);
  border-color: #3b5c78;
  width: 650px;
}