body {
	background-color: #f3f9f6;
	font-family: Calibri;
	font-size: 18px;
	font-kerning: normal;
	width: 600px;
}

h1 {
	color: black;
	line-height: 0.9;
	width: 600px;
}

p {
	color: black;
	line-height: 1.4;
}

table {
	max-width: 600px
}

table, th, td {
	border: 1px solid color: #3b5c78;
}

th, td {
    padding: 4px;
    text-align: left;
}

div {
	color: #3b5c78;
	font-size: 24px;
	padding: 15px;
	border: 1px solid rgba(0,0,0,0);
	border-color: #3b5c78;
  	width: 568px;
}

footer {
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgba(0,0,0,0);
  border-color: #3b5c78;
  width: 568px;
}