body {
	background-color: #f3f9f6;
	font-family: Calibri;
	font-size: 18px;
	font-kerning: normal;
	width: 800px;
}

h1 {
	color: black;
	line-height: 0.9;
	width: 600px;
}

p {
	color: black;
	line-height: 1.4;
}
.column {
    float: left;
    width: 100%;
}
.left {
    width: 25%;
}
.right {
    width: 75%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

table {
	table-layout: auto;
	border-collapse: collapse;
	width: 600px;
}

table, th, td {
	border: 1px solid black;
}

th {
    padding: 4px;
    text-align: left;
}

div {
	color: #3b5c78;
	font-size: 24px;
	padding: 15px;
	border: 1px solid rgba(0,0,0,0);
	border-color: #3b5c78;
  	width: 568px;
}

footer {
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgba(0,0,0,0);
  border-color: #3b5c78;
  width: 568px;
}