body {
	background-color: #f3f9f6;
	font-family: Calibri;
	font-size: 18px;
	font-kerning: normal;
	width: 800px;
}

h1 {
	color: black;
	line-height: 0.9;
	width: 600px;
}

p {
	color: black;
	line-height: 1.4;
	width: 600px;
}

.column {
    float: left;
    width: 800px;
}
column-left {
    width: 25%;
}
column-right {
    width: 75%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


table {
	border-collapse: collapse;
}

div {
	color: #3b5c78;
	font-size: 16px;
	padding: 2px;
	border: 1px solid;
	border-color: #3b5c78;
	text-align: left;
}

footer {
  padding: 10px;
  font-size: 16px;
  border: 1px solid;
  border-color: #3b5c78;
  width: 568px;
}