body {
	background-color: #f3f9f6;
	font-family: Calibri;
	font-size: 18px;
	font-kerning: normal;
	width: 800px;
}

div > * {
  padding: 20px;
  font-size: 18px;
  border: 3px solid rgba(0,0,0,0.5);
}

h1 {
	color: black;
	line-height: 0.9;
}

p {
	color: black;
	line-height: 1.4;
}
div {
	color: #3b5c78;
	font-size: 24px;
}

footer > * {
  padding: 30px;
  font-size: 16px;
  border: 3px solid rgba(0,0,0,0.5);
  border-color: #3b5c78;
  width: 800px;
}


table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 10px;
}