body {
	background-color: #f3f9f6;
	font-family: Calibri;
	font-size: 18px;
	font-kerning: normal;
	width: 900px;
}

h1 {
	color: black;
	line-height: 0.9;
	width: 600px;
}

h3, h4 {
	color: #3b5c78;
	line-height: 0.9;
	width: 600px;
}

p {
	color: black;
	line-height: 1.4;
	width: 600px;
}

.column {
    float: left;
    width: 900px;
    border: 0px solid;
}
.left {
    width: 240px;
    border: 0px solid;
}
.right {
    width: 600px;
    border: 0px solid;
}

.row {
	border: 0px;
}

/*Clear floats after the columns*/
.row:after {
    content: "";
    display: table;
    clear: both;
}

div {
	color: #3b5c78;
	font-size: 16px;
	padding: 2px;
	border: 0px solid #3b5c78;
	text-align: left;
	width: 900px;
}

footer {
  padding: 10px;
  font-size: 16px;
  border: 1px solid;
  border-color: #3b5c78;
  width: 568px;
}