
* {
    box-sizing: border-box;
}

body {
	background-color: #ADDEB5;    /*--pale sage  #ADDEB5*/ 
	font-family: Calibri;
	font-size: 16px;
	font-kerning: normal;
	white-space: wrap;
}

h1 {
	color: black;
	line-height: 0.9;
	width: 600px;
}

h2, h3, h4 {
	color: black;
	line-height: 0.9;
	white-space: wrap;
}

p {
	color: black;
	line-height: 1.1;
	white-space: wrap;
}

#p-sage.p1 {
  color: #ADDEB5;        /*--pale sage  #ADDEB5 - for covering over placeholder text*/ 
  line-height: 1.1;
  white-space: wrap;
}

#p-quotetxt.p2 {
  color: black; 
  line-height: 0.9;
  font-size: 18px;
  font-style: italic;
  white-space: wrap;
}

footer {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #AEAADB;
  background-color: rgba(174, 170, 219, 0.5);   /*dark blue purp bckgrnd #AEAADB*/
}

img {
    width: 100%;
    height: auto;
    z-index: 1000;
}


.grid-container {
  display: grid;
  grid-template-columns: 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3%;
  grid-template-rows: auto;
  grid-gap: 0px;
  background-color: #ADDEB5;
  padding: 10px;

}

.grid-container > div {
  text-align: left;
  padding: 8px;
  font-size: 1em;
  white-space: wrap;
}

.item1header {
  grid-column: 2 / span 10;
  grid-row: 1 / span 1;
  background-color: rgba(110, 148, 146, 1);   /*dark sage bckgrnd #6E9492*/
}

.item2leftpagepad { 
  grid-column: 1 ;
  grid-row: 1 / span 10;
  background-color: #ADDEB5;
}

.item3headline {
  grid-column: 2 / span 4;
  grid-row: 2 / span 2;
}

.item4heroimage {
  grid-column: 2 / span 4;
  grid-row: 4 / span 2;
  background-color: rgba(110, 148, 146, 1);   /*dark sage bckgrnd #6E9492*/
}

.item5quotetext {
  grid-column: 7 / span 2;
  grid-row: 4 / span 1;
  white-space: wrap;
  background-color: rgba(174, 170, 219, 0.4);   /*dark blue purp bckgrnd #AEAADB*/
}

.item6contactNPC {
  grid-column: 7 / span 2;
  grid-row: 5 / span 1;
  white-space: wrap;
  background-color: rgba(110, 148, 146, 1);   /*dark sage bckgrnd #6E9492*/
}

.item7topicspane {
  grid-column: 10 / span 2;
  grid-row: 2 / span 4;
  background-color: rgba(174, 170, 219, 0.5);   /*dark blue purp bckgrnd #AEAADB*/
}

.item7aspacerpane {
  grid-column: 3 / span 9;
  grid-row: 7 / span 1;
  background-color: rgba(173, 222, 181, 0.5);   /*pale sage bckgrnd #ADDEB5*/
}

.item8buttonsbarwrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr) ) ;
  grid-template-rows: auto;
  grid-column: 2 / span 10;
  grid-row: 8 / span 1;
  background-color: rgba(174, 170, 219, 0.5);   /*dark blue purp bckgrnd #AEAADB*/
}


[class*="box-"] {
  padding: 3px;
  background-color: #6E9492;     /*dark sage bckgrnd #6E9492*/
  color: white;
}

.box-a {
  grid-column: 10 / span 2;
}

.box-b {
  grid-column: 10 / span 2;
}

.box-c {
  grid-column: 10 / span 2;
}

.box-d {
  grid-column: 10 / span 2;
}

.box-e {
  grid-column: 10 / span 2;
}

.item9fullhorizpane {
  grid-column: 2 / span 10;
  grid-row: 1 / span 1;
  background-color: rgba(110, 148, 146, 1);   /*dark sage bckgrnd #6E9492*/
}

[class*="box-2"] {
  padding: 3px;
  background-color: #6E9492;     /*dark sage bckgrnd #6E9492*/
  color: white;
}

.box-2a {
  grid-column: 10 / span 2;
}

.box-2b {
  grid-column: 10 / span 2;
}

.box-2c {
  grid-column: 10 / span 2;
}

.box-2d {
  grid-column: 10 / span 2;
}

.box-2e {
  grid-column: 10 / span 2;
}

.box-2f {
  grid-column: 10 / span 2;
}

.box-2g {
  grid-column: 10 / span 2;
}

.box-2h {
  grid-column: 10 / span 2;
}

.box-2i {
  grid-column: 10 / span 2;
}

.box-2j {
  grid-column: 10 / span 2;
}