@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Quicksand');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

 /* Container holding main suite hero image and  text */
.topimagecontainer {
    position: relative;
    text-align: center;
    background-color: #ADDEB5;    /*--pale sage  #ADDEB5*/ 
}

/* top right text */
[class*="top-right-"] {
    position: absolute;
    background-color: rgba(173,222,181,0.6);    /*--pale sage  #ADDEB5*/ 
    text-transform: none;
    padding: 10px 20px 10px 20px;
    width: 550px;
}

.top-right-alignleft {
    top: 10px;
    right: 20px;
    text-align: left;
}

.top-right-aligncenter {
    top: 10px;
    right: 20px;
    text-align: center;
}

.top-right-lower {
    top: 107px;
    right: 20px;
    background-color: rgba(173,222,181,0.6);    /*--pale sage  #ADDEB5*/ 
    text-align: center;
}

body {
	background-color: #ADDEB5;    /*--pale sage  #ADDEB5*/ 
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
	font-size: 16px;
	font-kerning: normal;
	white-space: normal;
  text-transform: none;
}

.clear-fix {
    content: "";
    clear: both;
    visibility: hidden;
    display: block;
    height: 0;
    font-size: 0;
}

.clearfix::after {
    content: "";
    clear: both;
}

h1 {
	color: black;
	line-height: 1.2;
  padding: 5px 10px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

h2, h3, h4, h5 {
	color: black;
	line-height: 1.2;
	white-space: normal;
  padding: 5px 10px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

h2 {
  	color: black;
  	font-family: 'Quicksand', sans-serif;
  	font-weight: 300;
  	font-size: 24px;
}

.h4white {
  color: white;
  line-height: 1.1;
}

.h4center {
  text-align: center;
}

p {
	color: black;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
	line-height: 1.2;
	white-space: normal;
  text-transform: none;
  padding-left: 10px;
  padding-right: 10px;
}

.pcenter {
	text-align: center;
}

.p1 {
  color: #ADDEB5;        /*--pale sage  #ADDEB5 - for covering over placeholder text*/ 
  line-height: 1.2;
  white-space: normal;
}

.p2 {
  color: black; 
  line-height: 1.1;
  font-size: 19px;
  font-style: italic;           /*--italic text*/ 
  white-space: normal;
  padding: 5px 10px;
}

.p3 {
  color: black; 
  line-height: 1.3;
  font-size: 20px;
  text-indent: 30px;           /*--first line para indent*/
  white-space: normal;
}

.p4 {                          /*--first line para block*/
  color: black; 
  line-height: 1.3;
  font-size: 20px;
  white-space: normal;
}

.pright {
  float: right;
}

.pleft {
  float: left;
}

.pfootnote {
  color: #404040;
  line-height: 1;
  font-size: 16px;
}

span {
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 24px;
  font-kerning: normal;
  line-height: 1.3;
  white-space: normal;
}

.pstandout {
  color: black; 
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 24px;
  font-kerning: normal;
  line-height: 1.3;
  white-space: normal;
  padding: 18px;
}

.pstandout2 {
  color: black; 
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 22px;
  font-kerning: normal;
  font-style: italic;
  line-height: 1.3;
  white-space: normal;
  border: 1px solid black;
  border-spacing: 2px;
  padding: 18px;
}

ul, li {
  color: black;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  line-height: 1.3;
  white-space: normal;
  text-transform: none;
  font-size: 20px;
  white-space: normal;
}

ul {
  padding-left: 28px;
}

a {
  text-transform: none;
  padding: 4px 2px 4px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: black;
  background-color: rgba(110, 148, 146, 0.2);   /*dark sage bckgrnd #6E9492*/
  border: 1px solid rgba(110, 148, 146, 0.2);
  max-width: 100%
}

a:visited {
  text-transform: none;
  padding: 4px 2px 4px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #6E9492;
  background-color: rgba(110, 148, 146, 0.2);   /*dark sage bckgrnd #6E9492*/
  border: 1px solid rgba(110, 148, 146, 0.2);
  max-width: 100%
}

/* cursor over link */
a:hover {
    cursor: auto;
    background-color: #6E9492;     /*--dark sage  #6E9492*/
  	padding: 4px 2px 4px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    border: 1px solid white;
    max-width: 100%
}

/* selected link */
a:active {
    cursor: auto;
    background-color: rgba(173,222,181,0.5);    /*--pale sage  #ADDEB5*/
  	padding: 4px 2px 4px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;
    border: 1px solid rgba(110, 148, 146, 0.2);   /*dark sage bckgrnd #6E9492*/
    max-width: 100%
}

footer {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  text-transform: none;
  border: 1px solid #AEAADB;
  background-color: rgba(110, 148, 146, 0.2);   /*dark sage bckgrnd #6E9492*/
  color: black;
  grid-column: 2 / span 10;
  grid-row: 9 / span 1;
  display: inline-block;
  width: 100%;
  margin: 150px auto;
}

img {
    width: 100%;
    height: auto;
}

.grid-container-oview {
  display: grid;
  grid-template-columns: 9.3% 9.3% 9.3% 9.3% 9.3% 3.3% 9.3% 9.3% 3.3% 9.3% 9.3% 9.3%;
  grid-template-rows: auto;
  grid-gap: 0px;
  background-color: #ADDEB5;
  padding: 10px;
}

.grid-container-A {
  display: grid;
  grid-template-columns: 9.3% 9.3% 9.3% 9.3% 3.3% 9.3% 9.3% 9.3% 3.3% 9.3% 9.3% 9.3%;
  grid-template-rows: auto;
  grid-gap: 0px;
  background-color: #ADDEB5;
  padding: 10px;
}

.grid-container > div {
  text-align: left;
  padding: 8px;
  font-size: 1em;
  white-space: normal;
}

.item1headerA {
  padding: 10px;
  grid-column: 2 / span 10;
  grid-row: 1 / span 1;
  background-color: rgba(110, 148, 146, 1);   /*dark sage bckgrnd #6E9492*/
}

.item2leftpagepad { 
  grid-column: 1;
  grid-row: 1 / span 10;
  background-color: #ADDEB5;
}

.item1aspacerpane_row2 {
  grid-column: 2 / span 10;
  grid-row: 2 / span 1;
}

.item3headline {
  grid-column: 2 / span 4;
  grid-row: 3 / span 2;
}

.item4heroimage {
  grid-column: 2 / span 4;
  grid-row: 5 / span 2;
  background-color: rgba(110, 148, 146, 1);   /*dark sage bckgrnd #6E9492*/
}

.item5quotetext {
  grid-column: 7 / span 2;
  grid-row: 5 / span 1;
  vertical-align: bottom;
  white-space: normal;
  background-color: rgba(174, 170, 219, 0.4);   /*dark blue purp bckgrnd #AEAADB*/
}

.item6contactNPC {
  grid-column: 7 / span 2;
  grid-row: 6 / span 1;
  text-transform: none;
  white-space: normal;
  background-color: rgba(110, 148, 146, 1);   /*dark sage bckgrnd #6E9492*/
}

.item7topicspane {
  display: grid;
  grid-column: 10 / span 2;
  grid-row: 3 / span 5;
  grid-gap: 0px;
  padding: 0px;
  background-color: rgba(110, 148, 146, 1);   /*dark sage bckgrnd #6E9492*/
}

[class*="box-"] {
  padding: 1px;
  background-color: #6E9492;    /*dark sage bckgrnd #6E9492*/
  color: white;
  position: relative;
  text-decoration: none;
  vertical-align: center;
}

.box-a {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
}

/* top left text */
.top-left {
    position: absolute;
    top: 6px;
    left: 10px;
}

.box-b {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
}

.box-c {
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
}

.box-d {
  grid-column: 2 / span 2;
  grid-row: 4 / span 1;
}

.box-e {
  grid-column: 2 / span 2;
  grid-row: 5 / span 1;
}

.item7aspacerpane {
  grid-column: 2 / span 10;
  grid-row: 8 / span 1;
}

.item8buttonsbarwrapper {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr) ) ;
  grid-template-rows: auto;
  grid-column: 2 / span 10;
  grid-row: 9 / span 2;
  align-items: center;
  vertical-align: middle;
  text-transform: none;
  background-color: rgba(174, 170, 219, 0.3);   /*dark blue purp bckgrnd #AEAADB*/
}

[class*="box-2"] {
  padding: 0px;
  background-color: #6E9492;     /*dark sage bckgrnd #6E9492*/
  color: white;
  position: relative;
  text-align: center;
  padding: 10px 10px;
  align-items: center;
  text-decoration: none;
  border: 1px #6E9492;
}

.box-2a-rowstart {
  grid-column: 2 / span 1;
  background-color: rgba(174, 170, 219, 0.3);   /*dark blue purp bckgrnd #AEAADB*/
}

.box-2a {
  grid-column: 3 / span 1;
}

.box-2b {
  grid-column: 4 / span 1;
}

.box-2c {
  grid-column: 5 / span 1;
}

.box-2d {
  grid-column: 6 / span 1;
}

.box-2e {
  grid-column: 7 / span 1;
}

.box-2f {
  grid-column: 8 / span 1;
}

.box-2g-rowstart {
  grid-column: 2 / span 1;
  background-color: rgba(174, 170, 219, 0.3);   /*dark blue purp bckgrnd #AEAADB*/
}

.box-2g {
  grid-column: 3 / span 1;
}

.box-2h {
  grid-column: 4 / span 1;
}

.box-2i {
  grid-column: 5 / span 1;
}

.box-2j {
  grid-column: 6 / span 1;
}

.box-2k {
  grid-column: 7 / span 1;
}

.box-2l {
  grid-column: 8 / span 1;
}

/*Unit 5 project begins here xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.header {
  color: black;
  line-height: 1.1;
  padding: 4px 2px;
  background-color: rgba(110, 148, 146, 1);   /*dark sage bckgrnd #6E9492*/
}

.nav {
  display: inline-grid;
  padding: 2px 10px;
  grid-column: 2 / span 10;
  grid-row: 3 / span 1;
  background-color: rgba(110, 148, 146, 1);   /*dark sage bckgrnd #6E9492*/
  text-transform: none;
}

.box-3a {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.box-3b {
  grid-column: 4 / span 1;
  grid-row: 3 / span 1;
}

.box-3c {
  grid-column: 6 / span 1;
  grid-row: 3 / span 1;
}

.box-3d {
  grid-column: 8 / span 1;
  grid-row: 3 / span 1;
}

.box-3e {
  grid-column: 10 / span 1;
  grid-row: 3 / span 1;
}

.item1aspacerpane_row4 {
  grid-column: 2 / span 10;
  grid-row: 4 / span 1;
}


.aside_1 {
  grid-column: 2 / span 3;
  grid-row: 5 / span 1;
  background-color: rgba(110, 148, 146, 0.2);   /*dark sage bckgrnd #6E9492*/
}

.art1 {
  grid-column: 6 / span 6;
  grid-row: 5 / span 1;
}

.item1aspacerpane_row6 {
  grid-column: 2 / span 10;
  grid-row: 6 / span 1;  
}

.art2 {
  grid-column: 2 / span 3;
  grid-row: 7 / span 1; 
}

.art3 {
  grid-column: 6 / span 3;
  grid-row: 7 / span 1; 
}

.aside_2 {
  grid-column: 10 / span 2;
  grid-row: 7 / span 1;
  background-color: rgba(110, 148, 146, 0.2);   /*dark sage bckgrnd #6E9492*/
}

.item1aspacerpane_row8 {
  grid-column: 2 / span 10;
  grid-row: 8 / span 1;
}