:root {
  --offset: 3rem;
  --max_width: 60rem;
  --color: rgba(76, 147, 148, 0.3);
}

html {
  position: relative;
}

html::before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - (2 * var(--offset)));
  max-width: var(--max_width);
  min-height: 100vh;
  content: '';
  background-color: var(--color);
  z-index: -10;
  pointer-events: none;
}

* {
    box-sizing: border-box;
}

body {
	background-color: #4F4794;
	font-family: Calibri;
	font-size: 18px;
	font-kerning: normal;
	width: 900px;
}

h1 {
	color: black;
	line-height: 0.9;
	width: 600px;
}

h3, h4 {
	color: #3b5c78;
	line-height: 0.9;
	width: 600px;
}

p {
	color: black;
	line-height: 1.4;
	width: 600px;
}

.column {
    float: left;
    width: 900px;
    border: 0px solid;
}
.left {
	float: left;
    width: 240px;
    border: 0px solid;
}
.right {
	float: left;
    width: 600px;
    border: 0px solid;
}

.row {
	border: 0px;
}

/*Clear floats after the columns*/
.row:after {
    content: "";
    display: none;
    clear: both;
}

div {
	color: #3b5c78;
	font-size: 16px;
	padding: 2px;
	border: 0px solid #3b5c78;
	text-align: left;
	width: 900px;
}

footer {
  padding: 10px;
  font-size: 16px;
  border: 0px solid;
  border-color: #3b5c78;
  width: 568px;
}

img {
    width: 100%;
    height: auto;
    z-index: 1000;
}

/*
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 5px;
    border: 1px solid red;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
*/

/*
.grid-container {
  display: grid;
  grid-template-columns:  repeat(12 1fr);
  grid-gap: 0px;
  background-color: #4C9394;
  padding: 5px;
  width: calc(100% - (2 * var(--offset)));
  max-width: var(--max_width);
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
}
.item8 {
  grid-area: 2 / 2 / 6 / 6;
}
*/

.wrapper {
  display: inline-grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(20px, auto);
  width: calc(100% - (2 * var(--offset)));
  max-width: 60rem;
}
.one {
  grid-area: 1 / 1 / 12 / 13;
  background-color: lime;
}
.two { 
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background-color: red;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
  background-color: blue;
}
.four {
  grid-column: 3;
  grid-row: 3;
  background-color: gold;
}
.five {
  grid-column: 2;
  grid-row: 4;
  background-color: purple;
}
.six {
  grid-column: 3;
  grid-row: 4;
  background-color: aqua;
}