body {
	background-color: #f3f9f6;
	font-family: Calibri;
	font-size: 18px;
	font-kerning: normal;
	width: 900px;
}

h1 {
	color: black;
	line-height: 0.9;
	width: 600px;
}

h3, h4 {
	color: #3b5c78;
	line-height: 0.9;
	width: 600px;
}

p {
	color: black;
	line-height: 1.4;
	width: 600px;
}

.column {
    float: left;
    width: 900px;
    border: 0px solid;
}
.left {
    width: 240px;
    border: 0px solid;
}
.right {
    width: 600px;
    border: 0px solid;
}

.row {
	border: 0px;
}

/*Clear floats after the columns*/
.row:after {
    content: "";
    display: none;
    clear: both;
}

div {
	color: #3b5c78;
	font-size: 16px;
	padding: 2px;
	border: 0px solid #3b5c78;
	text-align: left;
	width: 900px;
}

footer {
  padding: 10px;
  font-size: 16px;
  border: 0px solid;
  border-color: #3b5c78;
  width: 568px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
  border-color: red;
}
.two { 
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  border-color: red;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
  border-color: red;
}
.four {
  grid-column: 3;
  grid-row: 3;
  border-color: red;
}
.five {
  grid-column: 2;
  grid-row: 4;
  border-color: red;
}
.six {
  grid-column: 3;
  grid-row: 4;
  border-color: red;
}