
* {
    box-sizing: border-box;
}

body {
	background-color: #ADDEB5;    /*--pale sage  #ADDEB5*/ 
	font-family: Calibri;
	font-size: 16px;
	font-kerning: normal;
	white-space: wrap;
}

h1 {
	color: black;
	line-height: 0.9;
	width: 600px;
}

h2, h3, h4 {
	color: black;
	line-height: 0.9;
	white-space: wrap;
}

p {
	color: black;
	line-height: 1.1;
	white-space: wrap;
}

#p-sage.p1 {
  color: #ADDEB5;        /*--pale sage  #ADDEB5 - for covering over placeholder text*/ 
  line-height: 1.1;
  white-space: wrap;
}

/*
div {
	color: black;
	font-size: 16px;
	padding: 2px;
	border: 0px solid #3b5c78;
	text-align: left;
	width: 900px;
}*/

footer {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #AEAADB;
  background-color: rgba(174, 170, 219, 0.5);   /*dark blue purp bckgrnd #AEAADB*/
}

img {
    width: 100%;
    height: auto;
    z-index: 1000;
}

/*
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 5px;
    border: 1px solid red;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}*/


.grid-container {
  display: grid;
  grid-template-columns: 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3%;
  grid-template-rows: auto;
  grid-gap: 0px;
  background-color: #ADDEB5;
  padding: 10px;

}

.grid-container > div {
  text-align: left;
  padding: 8px;
  font-size: 16px;
  white-space: wrap;
}

.item1header {
  grid-column: 2 / span 10;
  grid-row: 1 / span 1;
  background-color: rgba(110, 148, 146, 1);   /*dark sage bckgrnd #6E9492*/
}

.item2leftpagepad { 
  grid-column: 1 ;
  grid-row: 1 / span 10;
  background-color: #ADDEB5;
}

.item3headline {
  grid-column: 2 / span 4;
  grid-row: 2 / span 2;
}

.item4heroimage {
  grid-column: 2 / span 4;
  grid-row: 4 / span 2;
  background-color: rgba(110, 148, 146, 1);   /*dark sage bckgrnd #6E9492*/
}

.item5quotetext {
  grid-column: 7 / span 2;
  grid-row: 4 / span 1;
  white-space: wrap;
}

.item6contactNPC {
  grid-column: 7 / span 2;
  grid-row: 5 / span 1;
  white-space: wrap;
  background-color: rgba(110, 148, 146, 1);   /*dark sage bckgrnd #6E9492*/
}

.item7navpane {
  grid-column: 10 / span 2;
  grid-row: 2 / span 4;
  background-color: rgba(174, 170, 219, 0.5);   /*dark blue purp bckgrnd #AEAADB*/
}

.item8topicsbarwrapper {
  background-color: rgba(174, 170, 219, 0.5);   /*dark blue purp bckgrnd #AEAADB*/
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr) ) ;
  grid-template-rows: auto;
}


[class*="box-"] {
  padding: 3px;
  border: 5px solid #AEAADB;
  border-radius: 10px;
  background-color: #6E9492;     /*dark sage bckgrnd #6E9492*/
  color: black;
}

.box-a {
  grid-column: 2 / span 2;
}

.box-b {
  grid-column: 4 / span 2;
}

.box-c {
  grid-column: 6 / span 2;
}

.box-d {
  grid-column: 8 / span 2;
}

.box-e {
  grid-column: 10 / span 2;
}
